.title {
  display: block;
  text-align: center;
  color: $deep_black;
  font-size: $h3;
  font-weight: $fw400;
  margin-bottom: 10px;
}
.slogan {
  margin-bottom: 47.71px;
}
.slogan p {
  text-align: center;
  color: $deep_black;
  font-size: $h5;
  font-weight: $fw700;
  text-transform: uppercase;
}
