$h1: 4rem;
$h2: 2.25rem;
$h3: 1.875rem;
$h4: 1.5rem;
$h5: 1.125rem;
$h6: 0.8125rem;

$fw900: 900;
$fw700: 700;
$fw400: 400;

$white: #ffffff;
$black: #2d3033;
$grey: #6c7279;
$red: #ff4343;
$deep_black: #000000;
$deep_grey: #808080;
$photo_hover: rgba(255, 67, 67, 0.8);
$photo_active: rgba(185, 12, 12, 0.8);
$button_normal: #ff4343;
$button_hover: #e71414;
$button_active: #ff4343;
$navigation_active: #e71414;

$bd_normal: 3px solid rgba(186, 187, 197, 0);
$bd_hover: 3px solid #babbc5;
$bd_active: 3px solid #e71414;
